div.page-header {
  margin: 40px 0 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #f8f5f0;
}
#sidebar .nav>li>a {padding: 3px 10px;}
h1>small {font-size: 50%;}
.ficon {margin-left: 5px;}
.error-span {margin-left: 10px}
.btn {margin: 3px;}
.upload-card {
  padding: 1rem 2.5rem 0rem 2.5rem;
  font-size: 1.25rem;
}
.spinner-border {
  vertical-align: baseline;
}
.main-container {
  padding-bottom: 50px;
}
.wrap {
  overflow: auto;
  min-height: 100%;
}
.footer {
  position: relative;
  margin-top: -57px;
  height: 57px;
  clear: both;
  padding-top: 1rem;
}
body, html {
  height: 100%;
}
hr {
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}
.table-cell {
  white-space: nowrap;
}