{% extends "base_tables.html" %}

{% block content_title %}
  <a href="{{ url_for('index') }}">{{ dataset.base_name }}</a> &mdash; {{ table }}
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link{% block domain_tab_class %}{% endblock %}" href="{{ url_for('table_domains', table=table) }}">Domainek</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% block content_tab_class %}{% endblock %}" href="{{ url_for('table_content', table=table) }}">Kérések</a>
    </li>
    {% block inner_nav %}{% endblock %}
  </ul>
  <div style="margin-top: 20px;">
    {% block inner_content %}
    {% endblock %}
  </div>
{% endblock %}
