{% extends "base_table.html" %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(function() {
      var valueToggles = $('a.toggle-value');
      valueToggles.on('click', function(e) {
        e.preventDefault();
        var elem = $(this),
            truncated = elem.siblings('span.truncated'),
            full = elem.siblings('span.full');
        truncated.toggle();
        full.toggle();
      });
    });
  </script>
{% endblock %}

{% block content_title %}
  {{ super() }}
  </br>
  <small>{{ total_rows }} sor, {{ page }}. oldal</small>
{% endblock %}

{% block domain_tab_class %}  active{% endblock %}

{% block inner_content %}
  {# add filters #}
  <form action="{{ url_for('table_domains', table=table, page=page, ordering=ordering) }}" class="form-inline float-left" method="get" style="margin-top: 10px;">
    <input class="form-control form-control-sm" name="search" value="{% if search %}{{search}}{% endif %}" />
    <button class="btn btn-primary btn-sm" type="submit" >Keresés</button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Domain
        </th>
        <th>
          Darabszám
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in query %}
        <tr>
          <td>
            {% set value=row["domain"] %}
            <a href="{{ url_for('table_content', table=table, search=value) }}">{{ value|value_filter|safe }}</a>
          </td>
          <td>
            {% set count=row.ct %}
            {{ count }}
          </td>
          {% set delete_domain = row["domain"] %}
          <td>
            <a href="{{ url_for('table_domains', table=table, page=page, ordering=ordering, delete=delete_domain) }}">Törlés</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li class="{% if not previous_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_domains', table=table, page=1, ordering=ordering, search=search) }}">&laquo;</a>
      </li>
      <li class="{% if not previous_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_domains', table=table, page=previous_page, ordering=ordering, search=search) }}">&lsaquo;</a>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Oldal {{ page }} / {{ total_pages }}</span>
      </li>
      <li class="{% if not next_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_domains', table=table, page=next_page, ordering=ordering, search=search) }}">&rsaquo;</a>
      </li>
      <li class="{% if not next_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_domains', table=table, page=total_pages, ordering=ordering, search=search) }}">&raquo;</a>
      </li>
    </ul>
  </nav>
{% endblock %}
