{% extends "base_with_header.html" %}

{% block header_nav %}
  <div class="row clearfix">
    <div class="clearfix col-12">
      <div class="col-4 float-left">
        <a href="{% block header_nav_back %}{% endblock %}" class="btn btn-secondary my-auto bck-nav-btn" style="font-size:x-large;">
            &lsaquo; Vissza
        </a>
      </div>
      <div class="col-4 float-right">
        <a href="{% block header_nav_forward %}{% endblock %}" class="float-right btn btn-primary my-auto fwd-nav-btn" style="font-size:x-large;">
          Tovább &rsaquo;
        </a>
      </div>
    </div>
  </div>
{% endblock %}