{% extends "base.html" %}

{% block page_header %}
<div class="page-header text-center">
  <h1>Adatgyűjtés felület</h1>
</div>
{% endblock %}

{% block logout %}{% endblock %}

{% block content %}
<div class="col-6 offset-3">
    <form action="{{ url_for('changepw') }}" class="form" method="post">
      <div class="form-group">
        <input class="form-control" id="id_oldpassword" name="oldpassword" type="password" value="" placeholder="Jelenlegi jelszó" style="font-size:xx-large;" />
        </br>
        <input class="form-control" id="id_newpassword" name="newpassword" type="password" value="" placeholder="Új jelszó" style="font-size:xx-large;" />
        </br>
        <input class="form-control" id="id_newpasswordc" name="newpasswordc" type="password" value="" placeholder="Új jelszó megerősítése" style="font-size:xx-large;" />
      </div>
      <button class="btn btn-primary btn-block" type="submit">
        <span style="font-size:xx-large;">Jelszó megváltoztatása</span>
      </button>
    </form>
</div>
{% endblock %}