{% extends "base.html" %}

{% block page_header %}
<div class="page-header text-center">
  <h1>Adatgyujtés felület</h1>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  // Getting offset and sending it to backend.
var offset = new Date().getTimezoneOffset();
console.log(offset);
$(function() {
                $.ajax({
                    type: 'GET',
                    url: '/timezone/?offset=' + offset,
                    success: function(response){
                        if (JSON.parse(response).success == true) console.log("Timezone is set.")
                        else console.log("Couldn't set timezone.")
                    },
                    error: function(response){
                        console.log("An error occured: " + response)
                    }
                })
            
        })

</script>
{% endblock %}



{% block content %}
<div class="row">
  <div class="col-6 offset-3">
    <a href="{{ url_for('create_copy_queries') }}" class="btn btn-primary btn-block">
      <span style="font-size:xx-large;">Feltöltés</span>
    </a>
  </div>
</div>
</br>
<div class="row">
  <div class="col-6 offset-3">
    <a href="{{ url_for('table_full') }}" class="btn btn-secondary btn-block">
      <span style="font-size:xx-large;">Jelenlegi adatbázis megtekintése</span>
    </a>
  </div>
</div>
</br>
<div class="row">
  <div class="col-6 offset-3">
    <a href="{{ url_for('faq') }}" class="btn btn-secondary btn-block">
      <span style="font-size:xx-large;">Gyakran ismételt kérdések</span>
    </a>
  </div>
</div>
</br>
</br>
</br>
<div class="row">
  <div class="col-6 offset-3">
    <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-block">
      <span style="font-size:xx-large;">Kijelentkezés</span>
    </a>
  </div>
</div>
</div>
</div>
{% endblock %}