{% extends "base_table.html" %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(function() {
      var valueToggles = $('a.toggle-value');
      valueToggles.on('click', function(e) {
        e.preventDefault();
        var elem = $(this),
            truncated = elem.siblings('span.truncated'),
            full = elem.siblings('span.full');
        truncated.toggle();
        full.toggle();
      });
    });
  </script>
{% endblock %}

{% block content_title %}
  {{ super() }}
  </br>
{% endblock %}

{% block content_tab_class %} active{% endblock %}

{% block inner_content %}
  {# add filters #}
  <div class="row clearfix" style="margin-bottom:1rem;">
      <div class="col-3 my-auto">
        <form action="{{ url_for('table_queries', page=page, ordering=ordering) }}" class="form-inline float-left my-auto" method="get" style="margin-top: 10px;">
        <input class="form-control form-control-sm" name="search" value="{% if search %}{{search}}{% endif %}" />
        <button class="btn btn-primary btn-sm" type="submit" >Keresés</button>
      </form>
    </div>
    <div class="col-4 my-auto">
      <nav class="my-auto">
        <ul class="pagination my-auto">
          <li class="{% if not previous_page %}disabled {% endif %}page-item">
            <a class="page-link" href="{{ url_for('table_queries', page=1, ordering=ordering, search=search) }}">&laquo;</a>
          </li>
          <li class="{% if not previous_page %}disabled {% endif %}page-item">
            <a class="page-link" href="{{ url_for('table_queries', page=previous_page, ordering=ordering, search=search) }}">&lsaquo;</a>
          </li>
          <li class="page-item disabled">
            <span class="page-link">Oldal {{ page }} / {{ total_pages }}</span>
          </li>
          <li class="{% if not next_page %}disabled {% endif %}page-item">
            <a class="page-link" href="{{ url_for('table_queries', page=next_page, ordering=ordering, search=search) }}">&rsaquo;</a>
          </li>
          <li class="{% if not next_page %}disabled {% endif %}page-item">
            <a class="page-link" href="{{ url_for('table_queries', page=total_pages, ordering=ordering, search=search) }}">&raquo;</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-3 text-center my-auto float-right">
      <h4 class="my-auto">{{ total_rows }} sor, {{ page }}. oldal</h4>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        {% for column in columns|column_filter %}
          <th>
            <a href="./?ordering={% if ordering == column %}-{% endif %}{{ column }}">{{ column|column_filter_display }}</a>
          </th>
        {% endfor %}
        <th>Törlés</th>
      </tr>
    </thead>
    <tbody>
      {% for row in query %}
        <tr>
          {% for field in field_names|column_filter %}
            {% set value = row[field] %}
            <td class="table-cell">
              {% if value is none %}
                NULL
              {% else %}
                {{ value|value_filter(field=field)|safe }}
              {% endif %}
            </td>
          {% endfor %}
          {% set delete_id = row["id"] %}
          <td>
            <a href="{{ url_for('table_queries', page=page, ordering=ordering, delete=delete_id) }}">Törlés</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li class="{% if not previous_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_queries', page=1, ordering=ordering, search=search) }}">&laquo;</a>
      </li>
      <li class="{% if not previous_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_queries', page=previous_page, ordering=ordering, search=search) }}">&lsaquo;</a>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Oldal {{ page }} / {{ total_pages }}</span>
      </li>
      <li class="{% if not next_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_queries', page=next_page, ordering=ordering, search=search) }}">&rsaquo;</a>
      </li>
      <li class="{% if not next_page %}disabled {% endif %}page-item">
        <a class="page-link" href="{{ url_for('table_queries', page=total_pages, ordering=ordering, search=search) }}">&raquo;</a>
      </li>
    </ul>
  </nav>
{% endblock %}
