{% extends "base_tables.html" %}
{% block nav_upload_active %} active{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        $(function() {
            $('.fwd-nav-btn').addClass('d-none')
            $('.upload-button').on('click', function(e) {
                $.ajax({
                    type: 'GET',
                    url: '/upload_database/',
                    success: function(response){
                        if (JSON.parse(response).success == true) progress()
                        else console.log("Couldn't start upload.")
                    },
                    error: function(response){
                        console.log("An error occured: " + response)
                    }
                })
            })
        })
        function progress() {
            $('.bck-nav-btn').addClass('disabled')
            var source = new EventSource("/upload_progress/");
            console.log('Upload started');
            source.onmessage = function(event) {
                try {
                    rec_data = JSON.parse(event.data)
                    console.log(rec_data)
                    switch (rec_data.type) {
                        case "started":
                            start_section(rec_data.subject)
                            break;
                        case "completed":
                            if (rec_data.subject == "upload") source.close()
                            complete_section(rec_data.subject)
                            break;
                        case "upload_progress":
                            upload_progress(rec_data.progress_data)
                            break;
                        case "error":
                            source.close()
                            error(rec_data.message)
                            break;
                        default:
                            break;
                    }
                } catch (error) {
                    console.log(error)
                    error(error)
                }
                finally {
                    if (!source.CLOSED) source.close()
                }
            }
            source.onerror = function(event) {
                source.close()
                error(event.data)
            }
        }
        function start_section(subject) {
            console.log("Starting section " + subject)
            selector = '.' + subject + '-bundle'
            $(selector).removeClass('text-secondary').addClass('text-primary active-section')
            $(selector + ' > .indicator').removeClass('d-none')
            $(selector + " > .textvalue > .dynamic").html("...    ")
        }
        function complete_section(subject) {
            console.log("Completed section " + subject)
            selector = '.' + subject + '-bundle'
            $(selector).removeClass('text-primary active-section').addClass('text-success')
            $(selector + ' > .indicator').addClass('d-none')
            $(selector + " > .textvalue > .dynamic").html('<i class="ficon far fa-check-circle"></i>')
            if (subject == "upload") {
                window.location.href = "/stop_collecting/"
            }
        }
        function upload_progress(progress_data) {
            console.log(progress_data)
            $('.progress-bar').css('width', 100*progress_data.current/progress_data.total+'%').attr('aria-valuenow', 100*progress_data.current/progress_data.total);
            $('.upload-bundle > .textvalue > .dynamic').text(":   " + parseFloat(progress_data.current/1048576).toFixed(2) + '/' + parseFloat(progress_data.total/1048576).toFixed(2) + ' MByte')
        }
        function error(message) {
            console.log("Error: " + message)
            $(".active-section").removeClass('text-primary').addClass('text-danger')
            $(".active-section > .indicator").addClass('d-none')
            $(".active-section > .textvalue > .dynamic").html('<i class="ficon far fa-times-circle"></i>')
            $(".active-section > .error-span").removeClass("d-none").addClass("d-block")
            if (message) $(".active-section > .error-span > .dynamic").html(message)
            else $(".active-section > .error-span > .dynamic").html("Ismeretlen hiba. A szerver lehet, hogy elérhetetlenné vált.")
            
        }
    </script>
{% endblock %}

{% block content_title %}
Feltöltés
{% endblock %}
{% block content_desc %}
A feltöltés gombra kattintva véglegesítheti az adatgyűjtést. A feltöltés után <b>semmilyen változtatásra nincs lehetőség</b>.<br>
<b>A feltöltés gomb megnyomása után a folyamat nem leállítható, azzal sem, ha elhagyja ezt az oldalt.</b>
{% endblock %}

{% block header_nav_back %}{{ url_for('table_domains') }}{% endblock %}
{% block header_nav_forward %}{{ url_for('stop_collecting') }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-4">
            <button style="font-size: x-large;" class="btn btn-block btn-primary upload-button">
                Feltöltés indítása
            </button>
        </div>
    </div>
    </br>
    <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-auto card card-body upload-card">
            <div>
                <p class="compress-bundle text-secondary">
                    <span class="textvalue">1. Tömörítés<span class="dynamic"></span></span>
                    <span class="indicator spinner-border spinner-border-sm d-none" role="status"></span>
                    <span class="error-span d-none">Hiba történt: <span class="dynamic"></span></span>
                </p>
            </div>
            <div>
                <p class="authenticate-bundle text-secondary">
                    <span class="textvalue">2. Hitelesítés<span class="dynamic"></span></span>
                    <span class="indicator spinner-border spinner-border-sm d-none" role="status"></span>
                    <span class="error-span d-none">Hiba történt: <span class="dynamic"></span></span>
                </p>
            </div>
            <div>
                <p class="upload-bundle text-secondary">
                    <span class="textvalue">3. Titkosítás és feltöltés<span class="dynamic"></span></span>
                    <span class="indicator progress d-none" style="margin-top:0.5rem;">
                        <span class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></span>
                    </span>
                    <span class="error-span d-none">Hiba történt: <span class="dynamic"></span></span>
                </p>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}
        